@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=Noto+Sans+JP:wght@300&display=swap');
@charset "utf-8";
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: #696969; 
    text-align:center;
}
   a {
   /* text-decoration: none; */
    color: #696969; 
}
hr {
  color:#696969  ;
  box-align:0px;
  width:50%;
}
